@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

:root {
    --oscuroMax: rgb(0, 0, 48);
    --oscuroMin: rgb(41, 86, 137);
    --claroMax: rgb(189, 233, 242);
    --claroMin: rgb(216, 216, 226);
    --Fondo: rgb(217, 236, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Allerta Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--oscuroMax);
    color: var(--claroMax);
    padding: 5px 10px;
}

.header-right {
    display: flex;
}

.barra-busqueda {
    background-color: var();
    border: 0;
    padding: 10px;
    border-radius: 50px;
    margin-left: 20px;
    margin: 10px;
}

.nav a button {
    color: var(--claroMax);
    background-color: var(--oscuroMin);
    border: 0;
    padding: 10px;
    border-radius: 50px;
}

.nav a button:hover {
    color: var(--oscuroMin);
    background-color: var(--claroMax);
}



.main {
    background-color: var(--Fondo);
}

.pelicula-prin {
    align-items: center;
    text-align: center;
    padding: 20px;
}

.peliculas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;

}

.pelicard {
    border: 4px solid var(--oscuroMax);
    box-sizing: border-box;
    height: 450px;
    width: 300px;
    border-radius: 50px 0px;
}


.pelicard h3, p{
    margin: 5px;
}

.pelicard img {
    display: block;
    height: 250px;
    margin: auto;
    width: 180px;

}

.boton-compra{
    margin:auto 40%;
    color: var(--claroMax);
    background-color: var(--oscuroMin);
    border: 0;
    padding: 10px;
    border-radius: 20px 0px;
}

.boton-compra:hover{
    margin:auto 40%;
    color: var(--claroMin);
    background-color: var(--oscuroMax);
    border: 0;
    padding: 10px;
    border-radius: 20px 0px;
}

.boton-compra:active{
    margin:auto 40%;
    color: var(--oscuroMin);
    background-color: var(--claroMax);
    border: 0;
    padding: 10px;
    border-radius: 20px 0px;
}

.pelicard-añadir {
    border: 4px solid var(--oscuroMax);
    box-sizing: border-box;
    height: 450px;
    width: 300px;
    text-align: center;
    align-content: center;
    border-radius: 0px 50px;
}

#imagen-pelicula-nueva {
    width: 200px;
    height: 160px;
    border: 1px solid #000000;
    margin-top: 10px;
}


.footer {
    background-color: var(--oscuroMax);
    color: var(--claroMax);
    text-align: center;
    padding: 20px;
}